.sliding-menu-container {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.menu-toggle-button {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease-in-out;
	/* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.menu-toggle-button:hover {
	transform: scale(1.05);
}

.menu-title {
	color: var(--text-primary);
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
  	grid-row-end: 3;
}

.menu-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease-in-out;
}

.menu-icon.open {
	transform: rotate(90deg);
}

.menu-icon .icon-bar {
	position: relative;
	display: block;
	border-radius: 10px;
	width: 18px;
	height: 2px;
	background-color: var(--bg-light);
	margin: 3px 0;
}

.menu-icon.open span:nth-of-type(1) {
	top: 8px;
	transform: rotate(225deg);
}
  
.menu-icon.open span:nth-of-type(3) {
	top: -8px;
	transform: rotate(-225deg);
}
  
.menu-icon.open span:nth-of-type(2) {
	opacity: 0;
}

.menu-panel {
	background: linear-gradient(145deg, rgba(240, 245, 255, 0.9), rgba(225, 233, 255, 0.9));
	border-radius: 12px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 16px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto 1fr 1fr;
	grid-gap: 12px;
	position: absolute;
	bottom: 60px;
	right: 0;
	transform: translateY(100%);
	backdrop-filter: blur(1px);
	opacity: 0;
	visibility: hidden;
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.menu-panel.open {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.menu-item-button {
	padding: 12px;
	font-size: 14px;
}