/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  .resume-form {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #B5C0D0;
  }
  /* .form-group {
    text-align: left;
  } */
}