/* Card.css */
@import url('../../../styles/themes.css');

.card {
	border-radius: 8px;
	padding: 20px;
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* max-width: 300px;    */
    margin: 20px auto;    
}
.card-title {
    font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
/* .card-primary {
    color: var(--text-primary);
    } */
.card-primary {
    /* background: rgba(255, 255, 255, 0.2);  */
    /* background: var(--bg-gradient); */
    background: var(--bg-main);
}

.card-secondary {
    color: var(--text-primary);
    background: var(--bg-light);
}
.title-primary {
    color: var(--text-secondary);
}
.title-secondary {
    color: var(--primary);
}
.card-normal {
    max-width: 80%;
    min-height: 80px;
}
.card-small {
    max-width: 50%;
    min-height: 80px;
}
.card-contetns {
    color: var(--text-primary);
}